# Git and Node
.git
node_modules
**/node_modules

# IDE and OS files
.vscode
.idea
.DS_Store
Thumbs.db

# Infra and workflow files
.github
terraform

# Logs and environment files
*.log
.env*

# Build artifacts
**/dist
